<div class="container">
    <h1>User Form</h1>
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">

        <!--{{diagnostic}}-->
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" required
                [(ngModel)]="model.name" name="name" placeholder="username" #name="ngModel"> <!--#spy-->
            <div [hidden]="name.valid || name.pristine"
                class="alert alert-danger">
                Name is required
            </div>
            <!--<br>TODO: remove this: {{spy.className}}-->

        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="text" class="form-control" id="password" required
                [(ngModel)]="model.password" name="password" placeholder="password" #password="ngModel">
            <div [hidden]="password.valid || password.pristine"
                class="alert alert-danger">
                Password is required
            </div>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" required
                [(ngModel)]="model.email" name="email" placeholder="email" #email="ngModel">
            <div [hidden]="email.valid || email.pristine"
                class="alert alert-danger">
                Email is required
            </div>
        </div>

        <div class="form-group">
            <label for="gender">Gender</label>
            <select class="form-control" id="gender" required [(ngModel)]="model.gender" name="gender" #gender="ngModel">
                <option *ngFor="let gender of genderArray" [value]="gender"
                >{{gender}}</option>
            </select>
            <div [hidden]="gender.valid || gender.pristine"
                class="alert alert-danger">
                Gender is required
            </div>
        </div>

        <button type="submit" class="btn btn-success" [disabled]="!userForm.form.valid">Submit</button>

    </form>
</div>